{% extends 'Basic.html' %}
{% block title %}Green Bank of India{% endblock title %}
{% block style%}
<style>
  .home-content {
    
    background-image: url('../static/media/rbi.png');
    height: 50rem;
  }
  .home-content .site-content{
    padding-left:41.5rem;
    padding-top: 2.5rem;
  }
  .auther,.mail{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #f5f5f5d1;
  }

</style>
{% endblock style%}
{% block id %}Green Bank of India{% endblock id %}
{% comment %} ---------------------------------------------------------------------------------------------------------------------------------- {% endcomment %}
{% block username %}{{username}}{% endblock username %}
{% block body %}
<div class="home-content">
  <div class="site-content col">
    <h2 style="color: rgb(0, 194, 129);">Green Bank of India , </h2><h2 style="color:#0dcaf0";> Welcomes  our customers <br> to join us on our new collaboration with ,<div class="content" style="font-family: cursive;">Spark`s fountaion Company</div></h2>
  </div>
</div>



{% endblock body %}
{% comment %} ---------------------------------------------------------------------------------------------------------------------------------- {% endcomment %}

{% block footer %}

<footer class="page-footer" style="background: linear-gradient(194deg, #420150, #11002a);height: 10rem;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="color: #fff;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
    </div>
  <div class="copyright" style="background: linear-gradient(194deg, #420150, #11002a)">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  </div>
</footer>
{% endblock footer %}

