{% extends 'Basic.html' %}
{% block title %}Green Bank of India{% endblock title %}
{% block username %}{{username}}{% endblock username %}

{% block bodystyle %} style="background:bisque;" {% endblock bodystyle %}
{% block body %}
<section>
{% for customer in acc %}
{% csrf_token %}
<div class="card w-50 col"style="box-shadow: 8px 8px #3a393945; margin: 2rem;">
    <div class="card-body">
        <div  id="user_image" >
            {% load static %}
            <img src="{% static 'media/user.png' %}" class="card-img" style="height: 49px;width: 57px;" alt="...">
            <p class="card-text">
            {% if customer.account_active == True %}
            <div class="Account_status" style="color:Green;font-weight: bold;">Account : Active</div>
            {% else %}
            <div class="Account_status" style="color:Red;font-weight: bold;">Account : Inactive</div>
            {% endif %}
            <b>{{customer.name}}<br>{{customer.email}}</b></p>
        </div>
    </div>
</div>
</section>

{% endfor %}
{% endblock body %}